# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#

name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-14
          - windows-latest
        version:
          - 17
          - 18

    runs-on: "${{ matrix.os }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Arch (Ubuntu / macOS)
        if: matrix.os != 'windows-latest'
        run: uname -a

      - name: Arch (Windows)
        if: matrix.os == 'windows-latest'
        run: echo %PROCESSOR_ARCHITECTURE%

      - name: Install LLVM and Clang
        uses: ./
        with:
          version: "${{ matrix.version }}"
          env: true

      - name: Test (Ubuntu / macOS)
        if: matrix.os != 'windows-latest'
        run: |
          echo $CC
          echo $CXX
          $CC --version
          $CXX --version

      - name: Test (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          echo $env:CC
          echo $env:CXX
          clang --version
          clang++ --version
