# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Test

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        version:
          - 14
          - 15

    runs-on: "${{ matrix.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install LLVM
        uses: ./
        with:
          version: "${{ matrix.version }}"
          env: true

      - name: Test
        if: runner.os == 'ubuntu' || runner.os == 'macos'
        run: |
          echo $CC
          echo $CXX
          $CC --version
          $CXX --version

      - name: Test on Windows
        if: runner.os == 'windows'
        run: |
          echo $CC
          echo $CXX
